
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1, p {
    text-align: center;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 30px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    border: none;
    color: #006d75;
    background: linear-gradient(180deg,#eef4f5 0%, #ffffff 100%);
    padding: 10px 22px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 5px;
    transition: background 0.3s;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 18px;
}
button:hover {
    background-color: #d3d3d3;
}
.bingo-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}
.bingo-table td {
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
}
.bingo-table td.marked {
    background-color: #d3d3d3;
    color: #000;
}
#bingoPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
#bingoPopup > div {
    background: #fff;
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 12px #333;
    text-align: center;
    max-width: 320px;
    margin: auto;
}
#bingoPopup h2 {
    color: #100808;
}
#bingoPopup button {
    margin-top: 18px;
    padding: 8px 24px;
    font-weight: bold;
}
