body {
 font-family: Arial, sans-serif;
 background: #f2f2f2;
 margin: 0;
 padding: 20px;
 text-align: center;
}
.buttons {
 margin-bottom: 20px;
}
button:hover {
	background: #e0eaeb;
}
button {
	padding: 10px 20px;
	margin: 5px;
	border: none;
	background: linear-gradient(180deg,#eef4f5 0%, #ffffff 100%);
	color: #006d75;
	border-radius: 5px;
	cursor: pointer;
}
.board {
 display: flex;
 justify-content: space-around;
 margin-top: 20px;
}
.column {
 background: #ffffff;
 width: 30%;
 padding: 10px;
 border-radius: 10px;
 box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.column h2 {
 margin-top: 0;
}
.task {
 background: #fff7a8;
 padding: 10px;
 margin: 10px 0;
 border-radius: 8px;
 cursor: grab;
 user-select: none;
 font-weight: bold;
}
.task:active {
 cursor: grabbing;
}
.dragging {
 opacity: 0.5;
 transform: scale(1.05);
}
.taskList {
 min-height: 200px;
}
.modal {
 display: none;
 position: fixed;
 z-index: 1000;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background: rgba(0,0,0,0.5);
}
.modal-content {
 background: #ffffff;
 width: 300px;
 margin: 15% auto;
 padding: 20px;
 border-radius: 12px;
 text-align: center;
 box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.modal-content h3 {
 margin-top: 0;
}
.modal-content input {
 width: 90%;
 padding: 10px;
 margin-top: 10px;
 border-radius: 6px;
 border: 1px solid #ccc;
}
.modal-buttons {
 margin-top: 20px;
}
.modal-buttons button {
 padding: 8px 15px;
 margin: 0 10px;
 border: none;
 background: #3498db;
 color: white;
 border-radius: 6px;
 cursor: pointer;
}
.modal-buttons button:hover {
 background: #217dbb;
}
#clearModal .modal-content p {
 margin-top: 10px;
 color: #555;
}
#clearModal .modal-buttons button:first-child {
 background: #e74c3c;
}
#clearModal .modal-buttons button:firstchild:hover {
 background: #c0392b;
}
